dashboard:
  organizationName: Default Organization
  projectName: Default Project

auth:
  disableSignup: false
  jwtExpiryLimit: 3600
  passwordMinLength: 8

email:
  senderAddress:
  senderName: Supabase

planetscale:
  host:
  # WARNING: do not use 6432 PSBouncer port here, as not all the Supabase services support it.
  port: 5432
  user:
  password:
  database: postgres
  branchId:

openai:
  apiKey: # optional
